html {
  height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  min-height: 100%;
  background: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333333;
  font-size: 14px;
  overflow-x: hidden;
}
body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #333333;
}
img {
  max-width: 100%;
  height: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  vertical-align: middle;
}
ul,
ol {
  list-style: none;
  padding-left: 2em;
}
ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
  margin: 0;
}
dd {
  margin-left: 0;
}
p,
hr,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure {
  margin: 0 0 10px 0;
}
* + p,
* + hr,
* + ul,
* + ol,
* + dl,
* + blockquote,
* + pre,
* + address,
* + fieldset,
* + figure {
  margin-top: 10px;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 10px;
}
hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  border-top: 1px solid #eee;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.wp10 {
  width: 10%;
}
.wp20 {
  width: 20%;
}
.wp25 {
  width: 25%;
}
.wp30 {
  width: 30%;
}
.wp33 {
  width: 33.3333%;
}
.wp40 {
  width: 40%;
}
.wp50 {
  width: 50%;
}
.wp60 {
  width: 60%;
}
.wp66 {
  width: 66.6666%;
}
.wp70 {
  width: 70%;
}
.wp75 {
  width: 75%;
}
.wp80 {
  width: 80%;
}
.wp90 {
  width: 90%;
}
.wp100 {
  width: 100%;
}
.wauto {
  width: auto;
}
.p0 {
  padding: 0!important;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.m0 {
  margin: 0!important;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.f10 {
  font-size: 1rem;
}
.f12 {
  font-size: 1.2rem;
}
.f14 {
  font-size: 1.4rem;
}
.f16 {
  font-size: 1.6rem;
}
.f18 {
  font-size: 1.8rem;
}
.f20 {
  font-size: 2rem;
}
.f24 {
  font-size: 2.4rem;
}
.f28 {
  font-size: 2.8rem;
}
.f32 {
  font-size: 3.2rem;
}
.f36 {
  font-size: 3.6rem;
}
.clear {
  clear: both;
}
.mod {
  overflow: hidden;
}
.left {
  float: left;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-middle {
  vertical-align: middle;
}
.text-top {
  vertical-align: top;
}
.text-bottom {
  vertical-align: bottom;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.none,
.hide,
[hidden] {
  display: none;
}
.blk,
.show {
  display: block;
}
.inblk {
  display: inline-block;
}
.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
.img-preserve {
  max-width: none;
}
.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
}
.text-truncate {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-break {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.flex-row {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.flex-h {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-v {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-start {
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: -1;
  -webkit-order: -1;
  -moz-order: -1;
  -ms-order: -1;
  order: -1;
}
.flex-mid {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 1;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-order: 1;
  order: 1;
}
.flex-end {
  -webkit-box-ordinal-group: 43;
  -moz-box-ordinal-group: 43;
  -ms-flex-order: 42;
  -webkit-order: 42;
  -moz-order: 42;
  -ms-order: 42;
  order: 42;
}
.ui-tabs {
  margin: 0;
  padding: 0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #eee;
}
.ui-tabs > .col,
.ui-tabs > * {
  display: table-cell;
}
.ui-tabs li a {
  display: block;
}
.ui-tabs-content {
  position: relative;
  overflow: hidden;
  border-top: none;
  z-index: 100;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}
.ui-tabs-content .ui-tabs-panel {
  position: absolute;
  top: 0;
  z-index: 99;
  float: left;
  width: 100%;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.ui-tabs-content .ui-tabs-panel * {
  -webkit-user-drag: none;
  user-drag: none;
}
.ui-tabs-content .ui-tabs-panel.ui-active {
  position: relative;
  z-index: 100;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.ui-tabs-content .ui-tabs-panel.ui-active ~ .ui-tabs-panel {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.ui-panel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.15);
}
.ui-panel.ui-active {
  display: block;
}
.ui-panel-page {
  position: fixed;
  -webkit-transition: margin-left 0.3s ease-in-out;
  -moz-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
}
.ui-panel-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  z-index: 101;
  width: 30%;
  max-width: 100%;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  /* scrollable */
  -webkit-overflow-scrolling: touch;
  /* scrollable */
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.ui-panel.ui-active .ui-panel-bar.ui-active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.ui-panel-bar-flip {
  left: auto;
  right: 0;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.ui-header {
  height: 44px;
  position: relative;
  z-index: 10;
  background-color: #000;
  box-shadow: inset 0 -1px 0 #223344, 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 7px rgba(0, 0, 0, 0.18);
  color: #f3f4f5;
}
.ui-header:before,
.ui-header:after {
  content: " ";
  display: table;
}
.ui-header:after {
  clear: both;
}
.ui-header .ui-title {
  font-size: 18px;
  font-weight: bold;
  z-index: 12;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 44px;
  right: 44px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  line-height: 44px;
}
.ui-header .ui-header-btn,
.ui-header .ui-header-btn-sm {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 11;
  font-size: 16px;
  color: #f3f4f5;
  text-align: center;
  display: inline-block;
  border: none;
  vertical-align: middle;
}
.ui-header .ui-header-btn.ui-back:after,
.ui-header .ui-header-btn-sm.ui-back:after,
.ui-header .ui-header-btn[data-back]:after,
.ui-header .ui-header-btn-sm[data-back]:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: #ffffff solid;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  min-width: auto;
}
.ui-header .ui-header-btn {
  height: 44px;
  line-height: 44px;
  min-width: 44px;
}
.ui-header .ui-header-btn-sm {
  height: 32px;
  line-height: 32px;
  min-width: 32px;
  border-radius: 2px;
  padding: 0 8px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
  margin-top: -10px;
}
ui-header-secondary {
  height: 44px;
}
.ui-scroller {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.ui-header + .ui-scroller {
  top: 44px;
}
.ui-header-secondary + .ui-scroller {
  top: 88px;
}
